<div class="calendar-dashboard">

  <%= month_calendar(events: @my_appts) do |date, meetings| %>
    <%= date.day %>
        <%# <% raise %>

    <% meetings.each do |meeting| %>
      <div class="meeting">
        <p><%= meeting.other_user_language(current_user).name %></p>
      </div>
    <% end %>
  <% end %>
</div>
