<%# added top margin manually, should align with overall layout %>


<div class="container mt-4">
  <nav>
    <div class="nav nav-tabs mb-2" id="nav-tab" role="tablist">
      <button class="nav-link active " id="nav-calendar-tab" data-bs-toggle="tab" data-bs-target="#nav-calendar" type="button" role="tab" aria-controls="nav-calendar" aria-selected="true">SpeakEZs</button>
      <button class="nav-link" id="nav-incoming-tab" data-bs-toggle="tab" data-bs-target="#nav-incoming" type="button" role="tab" aria-controls="nav-incoming" aria-selected="false">Incoming</button>
      <button class="nav-link" id="nav-outgoing-tab" data-bs-toggle="tab" data-bs-target="#nav-outgoing" type="button" role="tab" aria-controls="nav-outgoing" aria-selected="false">Outgoing</button>
       <button class="nav-link px-0" id="nav-outgoing-tab" data-bs-toggle="tab" data-bs-target="#nav-chats" type="button" role="tab" aria-controls="nav-chats" aria-selected="false"><i class="far fa-comment-alt "></i></button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-incoming" role="tabpanel" aria-labelledby="nav-incoming-tab">
      <%# display incoming pending requests %>
      <% @appts.each do |a| %>
        <% if a.receiver == current_user && a.status == "pending" %>
          <%= render "card", a: a %>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="nav-outgoing" role="tabpanel" aria-labelledby="nav-outgoing-tab">
      <%# display outgoing pending requests %>
      <% @appts.each do |a| %>
        <% if a.asker == current_user && a.status != "confirmed"%>
          <%= render "card", a: a %>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade active show" id="nav-calendar" role="tabpanel" aria-labelledby="nav-calendar">
      <%# display outgoing pending requests %>
      <%= render "calendar" %>
    </div>
      <div class="tab-pane fade" id="nav-chats" role="tabpanel" aria-labelledby="nav-chats">
      <%# displaychats %>
      <%= render "my_chats" %>
    </div>
  </div>
</div>


<%# Maybe link to past/declined meetings here? %>
