<%# added top margin manually, should align with overall layout %>

<div class="container mt-4">
  <h1>Your Dashboard</h1>
  <h2>Upcoming SpeakEZs:</h2>
  <%# display confirmed meetings %>
  <% @appts.each do |a| %>
    <% if a.status == "confirmed" %>
      <%= render "card", a: a %>
    <% end %>
  <% end %>

  <h2>Incoming requests</h2>
  <%# display incoming pending requests %>
  <% @appts.each do |a| %>
    <% if a.receiver == current_user && a.status == "pending" %>
      <%= render "card", a: a %>
    <% end %>
  <% end %>

  <h2>Your requests</h2>
  <%# display outgoing pending requests %>
  <% @appts.each do |a| %>
    <% if a.asker == current_user %>
      <%= render "card", a: a %>
    <% end %>
  <% end %>
</div>


<%# Maybe link to past/declined meetings here? %>
