.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  padding: 0% 15%;
  color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  display: fixed;
  background-color: black;
}

.icon-box a {
  align-items: center;
  color: white;
}
.icon {
  font-size: 24px;
  i{
    font-size: 24px;
  }
}
i .icon{
  font-size: 24px;
  color: pink;
}
