.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  padding: 0% 15%;
  color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}

.icon-box a {
  align-items: center;
  color: white;
}
.icon {
  height: 30px;
  width: 30px;
  filter: brightness(0) invert(1);
}
