.search-form-control{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  .select.required.search_user_language{
    width: 100%;
    margin-top: 15px;
  }
}
.search{
  margin-bottom: 0%;
}

.select.required.search-distance{
  padding: 0px 15px;
}
.form-label.select.required{
  display: inline-flex;
}

.form-select{
  padding:0px;
  option{
    font-size: 16px;
  }
}
.select2-container{
  margin-top: 15px;
  margin-right: 5px;
}
.btn.btn-flat.search-submit-button{
  margin-top: 10px;
}
