.profile-banner{
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;

  .profile-banner .btn-primary{
    position: absolute;
    bottom: 15px;
    right: 15px;
    color:white;
    background-color: $purple;
    border: 0px;
    color: white;
    padding: 8px 14px 8px 14px;
    .new-apt-plus{
      position: absolute;
      font-size: 14px;
      right: 3px;
      top: 2px;
      color: white;

    }
    .new-apt-calendar{
      color: white;
    }
  }


  .btn-back{
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    background-color: $purple;
    border-color: $purple;
  }
}


.user-basic-info{
  h2 {
    font-size:32px;
  }
}

.languages-container {
  display: flex;
}

.new-language-button {
  background-color: $purple;
  border-color: $purple;
}

i.new-language-button{
  color: white;
}
i .new-language-button{
  color: white;
  font-size: 24px;
}
