
<%= month_calendar(events: @my_appts) do |date, meetings| %>
  <%= date.day %>
      <%# <% raise %>

  <% meetings.each do |meeting| %>
    <div class="meeting">
      <p><%= meeting.other_user(current_user).username %></p>
    </div>
  <% end %>
<% end %>
