<div class="mapbox_user">
  <img src="<%= user.photo.key ? (cloudinary_url user.photo.key, width: 100, height: 100, crop: :thumb) : "https://images.unsplash.com/photo-1643725173053-ed68676f1878?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" %>" class="avatar"/>
  <div class="name"><h2><%= user.first_name %></h2></div>
</div>
<%= render "shared/speaks_learning_card", user: user %>
