.simple-calendar {
  table {
  }
  .day {
    background-color: #cce5f1;
    height:50px;
  }
  .today {
    background-color: $baby-powder;
  }
}

.meeting {

}


.calendar-dashboard{

}

td {
  width: 10%;
}
