.simple-calendar {
  table {
  }
  .day {
    background-color: #cce5f1;
    height:90px;
  }
  .today {
    background-color: $baby-powder;
  }
}

.calendar-heading{
  text-align: center;
}

td {
  width: 10%;
}


.dimple{
  width: 10px;

  z-index: 1000;
  border-radius: 50%;
  height: 10px;
}
.dimple-yellow{
  background-color: $yellow;
}
.dimple-green{
  background-color: #22ca22;
}
.dimple-calendar{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: 2px;
  right: 0px;
  z-index: 10;
}


.availability-key{
  display: flex;
  position: absolute;
  right: 35px;
}
