.card-product {
  overflow: hidden;
  height: 175px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  a{
    text-decoration: none;
  }
}
.card-go{
  position: absolute;
  top: 15px;
  right: 15px;
}
a.card-product{
  text-decoration: none;
  color: black;
  position: relative;
}
.card-product img {
  height: 60%;
  width: 30%;
  object-fit: cover;
  border-radius: 3px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  align-self: flex-start;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  align-items: center;
}

.card-product-infos{
  height: 100%;
}

.card-flags{
  display: flex;
  align-self: end;
  margin-right: 10px;

  p {
    align-self: center;
  }

}


.card-requests {
  overflow: hidden;
  height: 155px;
  background: $baby-powder;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 16px auto;
  position: relative;

  .card-languages {
    justify-content: space-evenly;
  }

  .add-languages {
    margin-bottom: 0 !important;
    align-self: center;
    font-size: 11px;
  }

  a {
    text-decoration: none !important;
  }

  img {
    height: 100%;
    width: 30%;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    align-self: flex-start;
    color: black;
  }

  .infos{
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $slate-gray;
  }

  .user-infos {
    padding: 16px;
    display: flex;
    flex-direction: column;
    color: $slate-gray;


    h2 {
      color: black;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      margin-bottom: 10px;
      line-height: 1.1rem;
    }
  }

  .appt-details {
    font-size: 14px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    line-height: 1.5;
  }

  .status {
    position: absolute;
    right: 20px;
    top: 10px;
    opacity: 0.7;
    color: $slate-gray;

    &.confirmed {
      color: $best-green;
    }

    &.declined {
      color: #ff3b00;
    }
  }

  .options {
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: 30px;

  }

  .fas {
    color: $slate-gray ;
    padding-right: 8px;
  }
}
