.card-product {
  overflow: hidden;
  height: 175px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 60%;
  width: 30%;
  object-fit: cover;
  border-radius: 3px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  align-self: flex-start;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  align-items: center;
}

.card-product-infos{
  height: 100%;
}

.card-flags{
  display: flex;
}
