form#new_message{
  display: flex;
}

#message-input{
  width: 90%;
}
#message_content{
  border-radius:5px;
}
.message-textbox{
  width: 100%;
 .message_content{
  width:100%;
  margin-bottom: 0px !important;
}
}
.container .top{
  height: 50px;
}
