.form {
  padding: 18px;

  .form-select {
    background-color: #FEFEFA;
    border-radius: 5px;
    margin-left: 0px !important;
  }

  .form-control {
    background-color: #FEFEFA;
    border-radius: 5px;
    margin-left: 0px !important;
  }

  .form-actions {
    display: flex;
    justify-content: center;
  }

  .form-radio {
    .col-form-label {
      display: none;
    }
  }

  .btn {
    width: 100%;
  }
}
