/**
* Quarter Circles
*/

.flag-circle-profile{
	position:relative;
	width:52px;
	height:40px;
	margin:0 auto;
}

.flag-circle-card{
  position:relative;
  width:30px;
  height:30px;
  margin:0 auto;
}
.img-flag{
  width: 8%;
}
.quarter {
	position:absolute;
	width:50%;
	height:50%;
}
.level-0 {
  top:0;
  right:0;
  border-radius:0 0 0 0 ;
}

.level-1 {
  top:0;
  right:0;
  background-color:#A5E6C8;
  border-radius:0 100% 0 0 ;
}
.level-2 {
  bottom:0;
  right:0;
  background-color:#A5E6C8;
  border-radius:0 0 100% 0 ;
}
.level-3 {
  bottom:0;
	left:0;
	background-color:#A5E6C8;
	border-radius:0 0 0 100%;
}
.level-4 {
  top:0;
  left:0;
  background-color: #A5E6C8;
  border-radius:100% 0 0 0;
}
.cutout {
  width: 80%;
  height: 80%;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 10%;
	border-radius:50%;
	pointer-events:none;
	}
