.received-message {
  background-color: #6e8894;
  color: #FEFEFA;
  border-radius: 5px;

  small {
    font-size: 8px;
  }
}



.sent-message {
  margin-left: 50%;
  text-align: right;
  background-color: #FEFEFA;
  border-radius: 5px;

  small {
    font-size: 8px;
  }
}
