.received-message {
  background-color: #6e8894;
  color: #FEFEFA;
  border-radius: 10px 10px 10px 0;

  small{
    font-size: 8px;
    position: absolute;
    bottom:10px;
  }
}

.sent-message {
  margin-left: 50%;
  background-color: #FEFEFA;
  border-radius: 10px 10px 0 10px;

  small {
    font-size: 8px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

#messages {
  position: relative;
  overflow: scroll;
  overflow-anchor: auto;
  height: 70vh;
  margin-bottom: 3px;
}

.top {
  width: 100%;
  height: 100px;
}

.message_content {
  width: 20%;
}

.message-timestamp{

}

.message_card{
  position: relative;
}
