<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="form">
      <h2>Edit SpeakEZ with <strong><%= @receiver.first_name %></strong></h2>
      <%= simple_form_for([@appt]) do |f| %>
        <%= render "form", f: f %>
        <div class="form-actions">
          <%= f.submit 'Edit SpeakEZ', class: 'btn button'  %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
