<%# maybe put a back/close thingy on this page if one clicked on accident? %>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="form">
      <h2>Send <strong><%= @receiver.first_name %></strong> a SpeakEZ request</h2>
      <%= simple_form_for([@receiver, @appt]) do |f| %>
        <%= render "form", f: f %>
        <div class="form-actions">
          <%= f.submit 'Send request', class: 'btn button'  %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
